<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ART122</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/redevables">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> All Redevables
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/redevable-create">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create new Redevable
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/annex5">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 📋 الملحق 05
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/annex6">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 📋 الملحق 06
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/annex9">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 📋 الملحق 09
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/nature-impot">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nature Impots
            </NavLink>
        </div>

    </nav>
</div>

